.container {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
}
p {
  color: MediumAquamarine;
  border: 5px dotted blue;
}
nav {

  border: 5px dotted green;
}
