.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;

}
.logoTitle {
  color: MediumAquamarine;
}
.topics {

}

.mainContainer {
  display: flex;
}
.large {
  border: 1px solid black;
  width: 630px;
}
.tunaImage {
  display: flex;
  background-image: url(./resources/images/img-story-main.png);
}
.earthSpins {
  display: flex;
  background-image: url(./resources/images/img-story-2.png);
}
.cameraImage {
  display: flex;
  background-image: url(./resources/images/img-story-3.png);
}
.medium {
  border: 1px solid black;
  width: 300px;
}
.catImage {
  display: flex;
  background-image: url(./resources/images/img-story-1.png);
}
.small {
  border: 1px solid black;
  width: 240px;
}
h2 {
  border: 1px solid black;
}
h3{
  border: 1px solid black;
}
h4 {
  border: 1px solid black;
}
img {
  border: 1px solid black;
}
