header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border: 10px solid red;
}
p {
  color: MediumAquamarine;
  display: flex;
  border: 5px dotted blue;
}
.topics {
  display: flex;
  align-items: center;
  border: 5px dotted green;

}
